%form{action: "addstop", method: "post", id:"activateform", onsubmit: "return validateForm(this)"}
  %fieldset
    %ol
      %li
        %label{for: "stop_name"} Stop Name:
        %input{type: "text", name: "stop_name", class: "text", required: true}
      %li
        %label{for: "mta_stop_id"} Stop ID:
        %input{type: "text", name: "mta_stop_id", class: "text", required: true}
    %input{type: "submit", name: "submit", value: "Submit"}

%p{id:"new_stop_form_errors"}
  %ul{id:"stoperrorslist"}
    - if !locals[:add_stop_errors].nil?
      - locals[:add_stop_errors].each do |msg|
        %li
          = msg
        %br

:javascript
  function validateForm(form) {
    return true;
  }
