%h1 Activate your Amazon Echo
%p Please enter your 8 digit activation code

%form{action: "activate", method: "post", id:"activateform", onsubmit: "return validateForm(this)"}
  %fieldset
    %ol
      %li
        %label{for: "activationcode"} Activation Code:
        %input{type: "text", name: "activationcode", class: "text", required: true}
    %input{type: "submit", name: "submit", value: "Submit"}

%p{id:"errors"}
  %ul{id:"errorslist"}
    - if !locals[:errors].nil?
      - locals[:errors].each do |msg|
        %li
          = msg
        %br

:javascript
  function validateForm(form) {
    var errors = [];
    errors.push(validateCodeLength(form));
    var filteredErrors = errors.filter(notNull);
    if (filteredErrors.length > 0) {
      printErrors(filteredErrors)
      return false;
    }
    else {
      return true;
    }
  };

  function printErrors(errors) {
    var arrayLength = errors.length;
    var htmlErrorsList = ""
    for (var i = 0; i < arrayLength; i++) {
      htmlErrorsList += '<li>' + errors[i] + '</li><br>';
    }
    document.getElementById("errorslist").innerHTML = htmlErrorsList;
  };

  function notNull(error) {
    return error != null;
  };

  function validateCodeLength(form) {
    var token = form.activationcode.value;
    if (token && token.length == 8) {
      return;
    }
    else {
      return "Token must be eight characters";
    }
  };
