%h1 Log In
%p welcome to my shitty form
%a{href: '/signup'} (sign-up here)
%br
%br

%form{action: "login", method: "post", id:"loginform", onsubmit: "return validateForm(this)"}
  %fieldset
    %ol
      %li
        %label{for: "email"} Email:
        %input{type: "text", name: "email", value: locals[:email] ? locals[:email] : "", class: "text", required: true}
      %li
        %label{for: "pw1"} Password:
        %input{type: "password", name: "pw", class: "text", required: true}
    %input{type: "submit", name: "submit", value: "Submit"}

%p{id:"errors"}
  %ul{id:"errorslist"}
    - if !locals[:errors].nil?
      - locals[:errors].each do |msg|
        %li
          = msg
        %br

:javascript
  function validateForm(form) {
    var errors = [];
    errors.push(validateEmailFormat(form));
    var filteredErrors = errors.filter(notNull);
    if (filteredErrors.length > 0) {
      printErrors(filteredErrors)
      return false;
    }
    else {
      return true;
    }
  };

  function printErrors(errors) {
    var arrayLength = errors.length;
    var htmlErrorsList = ""
    for (var i = 0; i < arrayLength; i++) {
      htmlErrorsList += '<li>' + errors[i] + '</li><br>';
    }
    document.getElementById("errorslist").innerHTML = htmlErrorsList;
  }

  function notNull(error) {
    return error != null;
  }

  function validateEmailFormat(form) {
    var email = form.email.value;
    var atpos = email.indexOf("@")
    var dotpos = email.lastIndexOf(".")
    if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= email.length) {
      return "Email is invalid";
    }
  };
