%h1 Welcome
%p Welcome to my shitty form

%form{action: "signup", method: "post", id:"signupform", onsubmit: "return validateForm(this)"}
  %fieldset
    %ol
      %li
        %label{for: "email"} Email:
        %input{type: "text", name: "email", value: locals[:email] ? locals[:email] : "", class: "text", required: true}
      %li
        %label{for: "pw1"} Password:
        %input{type: "password", name: "pw1", class: "text", required: true}
      %li
        %label{for: "pw2"} Re-enter your password:
        %input{type: "password", name: "pw2", class: "text", required: true}
    %input{type: "submit", name: "submit", value: "Submit"}

%p{id:"errors"}
  %ul{id:"errorslist"}
    - if !locals[:errors].nil? && locals[:errors].errors.any?
      - locals[:errors].errors.full_messages.each do |msg|
        %li
          = msg
        %br

:javascript
  function validateForm(form) {
    var errors = [];
    errors.push(validatePWLength(form));
    errors.push(validatePWMatch(form));
    errors.push(validateEmailLength(form));
    errors.push(validateEmailFormat(form));
    var filteredErrors = errors.filter(notNull);
    if (filteredErrors.length > 0) {
      printErrors(filteredErrors)
      return false;
    }
    else {
      return true;
    }
  };

  function printErrors(errors) {
    var arrayLength = errors.length;
    var htmlErrorsList = ""
    for (var i = 0; i < arrayLength; i++) {
      htmlErrorsList += '<li>' + errors[i] + '</li><br>';
    }
    document.getElementById("errorslist").innerHTML = htmlErrorsList;
  }

  function notNull(error) {
    return error != null;
  }

  function validatePWLength(form) {
    var length = form.pw1.value.length;
    if (6 <= length && length<= 20) {
      return;
    }
    else {
      return "Password must be more than 6 characters";
    }
  }

  function validatePWMatch(form) {
    if (form.pw1.value != form.pw2.value) {
      return "Passwords entered don't match";
    }
  }

  function validateEmailLength(form) {
    var length = form.email.value.length;
    if (4 <= length) {
      return;
    }
    else {
      return "Email must be more than four characters long";
    }
  }

  function validateEmailFormat(form) {
    var email = form.email.value;
    var atpos = email.indexOf("@")
    var dotpos = email.lastIndexOf(".")
    if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= email.length) {
      return "Email is invalid";
    }
  };
